.container {
	background-image: url(../banner.jpg);
	background-size: cover;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em;

	> img {
		height: 2em;
	}

	& div {
		display: flex;
		gap: 1em;
		color: #f2f3f7;
		font-family: Poppins;
	}
}

.tab-container {
	display: flex;
	gap: 2em;

	margin: 2em 0 0 0;
	color: #f2f3f7;
	font-family: Poppins;

	& a {
		text-decoration: none;
		color: #f2f3f7;
	}
}

.tabs-bg {
	min-width: 15ch;
	text-align: center;
	padding: 0.5em 0;

	& a {
		text-decoration: none;
	}
}

.active {
	background: #fff;
	border-radius: 20px 20px 0 0;

	& p {
		color: #272727;
	}
}
